/*---------------------------------------------------------------footer-secton-------------------------------------------*/
footer{
    height: 100px;
    background-color: #222222;
    padding: 24px;
    text-align: center;
    font-family: "Amazon ember light";
}
footer .bottom-link-lists{
    display: flex;
    color: #0f79af;
    list-style-type: none;
    justify-content: center;
    font-size: 15px;
    margin: 0;
    margin-right: 35px;
    
}
footer .bottom-link-lists li{
    margin: 0 10px;
}
.certificate{
    color: #949494;
    
}